    header {
      color:red;
    }

    p{color: blue;
    }
      
   


body {
    font-family: Arial, sans-serif;
    background-color: green;
    color:white;
    margin: 0;
    padding: 0;
  }
  
  

  footer {
    padding: 20px;
    background-color: white;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
  }